body {
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

* *::after *::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
.navbar span {
  color: rgb(98, 221, 98);
  font-size: 25px;
  font-weight: bold;
}
.navbar-brand {
  font-size: 25px;
  font-weight: bold;
}
.header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7)), url(../imges/cover.jpg);
  background-position: center;
  background-size: cover;
}
.header .social-icons {
  font-size: 30px;
  padding: 0;

  list-style-type: none;
}
.header .img {
  width: 30%;
}
.header .img img {
  width: 100%;
}
.header h1 {
  font-size: 50px;
}
.header span {
  font-size: 50px;
  font-weight: 500;
  color: rgb(98, 221, 98);
}
.header p {
  letter-spacing: 0.5px;
  word-spacing: 1px;
  font-size: 14px;
}

/* ##################### */

/* start About */

.about .hero::after {
  content: "";
  width: 20%;
  height: 60%;
  background-image: url(../imgs/imgs/dots.png);
  background-repeat: repeat;
  position: absolute;
  left: 70px;
  bottom: -85%;
  z-index: -1;
}

.about .img {
  width: 70%;
}
.about .img img {
  width: 100%;
}
.about span {
  color: #748182;
  word-spacing: 5px;
}
.about p {
  color: #748182;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-size: 15px;
}
.about h6 {
  color: white;
}

.about .my-span {
  color: white;
}
.about .progress {
  height: 30px;
}
.about .progress h6 {
  font-size: 15px;
}
.about .my-btn {
  font-size: 13px;
  color: white;
  background-color: black;
  border-radius: 5px;
}

.about .my-btn:hover {
  background-color: white;
  color: #000;
  transition: 0.3s ease-in-out;
}
.about .my-button {
  font-size: 13px;
  color: black;
  border-radius: 5px;
}
.about .my-button:hover {
  background-color: black;
  color: white;
  transition: 0.3s ease-in-out;
}
/* End About */
/* Start Services */
.services .inner .card-img {
  width: 100%;
  height: 170px;
}

.services .inner .card-img img {
  width: 100%;
}

.about span {
  color: rgb(98, 221, 98);
}

.card {
  transition: transform 0.4s ease;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 2);
}
/* End Services */
.map {
  padding: 10px;
  background-color: #eee;
  border-radius: 10px;
}
.map iframe {
  width: 100%;
  height: 350px;
}

.footer .social-icons {
  font-size: 30px;
  list-style-type: none;
}
